.background-fade{
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
}

.color-fade{
  -webkit-transition: color 1s;
  transition: color 1s;
}

.astext {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
}

.svg-color >svg >path{
  fill: currentColor;
}

h1 {
  font-family: 'Poppins', sans-serif;
  -webkit-transition: color 1s;
  transition: color 1s;
  font-size: 40;
}

p {
  font-family: 'PT Serif', serif;
  -webkit-transition: color 1s;
  transition: color 1s;
  font-size: 16px;
}

a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #f7ae38;
  font-size: 16px;
}

.lighting-box {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
  cursor: pointer;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
